<script>
 $(document).ready(function(c) {
    
  $("#buy_now").click(function(){
       var order_quantity = $("#order_quantity").val();
       var to_link ="";
       if(order_quantity==""){
         alert("Enter the Quantities");
         $("#order_quantity").focus();
          return false;
       }else{
          to_link = $(this).attr("href")+"&order_quantity="+order_quantity;
          $(this).attr("href",to_link);
       }
     });  

    $(document).on('click', '#remove_wishlist_item', function() {
     
      var user_auth_token = "<%= cookies[:user_auth_token] %>";
      if(!user_auth_token){
        $("#user_login_modal_btn").trigger("click");
        return false;
      }
      var item_id = $(this).attr("itemid");
      var product_box_id = $(this).parent().attr("id");
      var user_wishlist = {"item_id":item_id}
      console.log("add to cart data",user_wishlist);
      $.ajax({
        type: "get",
        url: "/api/wishlist/v1/wishlist/delete",
        data: user_wishlist,
        cache: false,
        success: function(response){
          console.log("item added to user_wishlist",response);
          if(response.status){
            $("#"+product_box_id).fadeOut('slow', function(c){
              $("#"+product_box_id).remove();
            });
            alert(response.message);
          }else{
            alert(response.errors)
          }
        },
        error: function(xhr, status, error) {
          alert(xhr.status+"  "+error)
        }
      });

    });
  
    });
 </script>
      <div class="cart-items">
         <div class="container">
            <div class="dreamcrub">
               <ul class="breadcrumbs">
                  <li class="home">
                     <a href="/" title="Go to Home Page">Home</a>&nbsp;
                     <span>&gt;</span>
                  </li>
                  <li class="women">
                     My Wishlist
                  </li>
               </ul>
               <ul class="previous">
                  <li><a href="/">Back to Previous Page</a></li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <h2>MY WISHLIST BAG (<%= @user_wishlist.length %>)</h2>
            <% if @user_wishlist.length==0 %>
            <h2>No items in your wishlist</h2>
            <% end %>
            <div class="cart-gd">
              
               <% @user_wishlist.each do |wishlist_item| %>
               <div  id="itemheader<%= wishlist_item.id %>" class="cart-header">
                  <div id="remove_wishlist_item" itemid="<%= wishlist_item.id %>"  title="Remove from wishlist" class="close1"><i class="fa fa-times" aria-hidden="true"></i> </div>
                  <div class="cart-sec simpleCart_shelfItem">
                     <div class="cart-item cyc">
                        <img src="<%= wishlist_item.image.url %>" class="img-responsive" alt="">
                     </div>
                     <div class="cart-item-info">
                        <h3><a href="/api/item/v1/item/<%= wishlist_item.id %>/show"><%= wishlist_item.name %></a></h3>

                        <h3><%= wishlist_item.heading %></h3>
                        <ul class="qty">
                           <li>
                              <p><i class="fa fa-inr" aria-hidden="true"></i><span id="item_price_value"><%= wishlist_item.price %></span></p>
                           </li>
                           <li>
                              <p>Discount %<%= wishlist_item.discount %></p>
                           </li>
                        </ul>
                        <div class="delivery">

                          
                           <span>Delivered in 1-1:30 hours</span>
                           <div class="clearfix"></div>
                        </div>
                         <div class="delivery">
                           <a  href="/api/item/v1/item/<%= wishlist_item.id %>/show" class="btn btn-warning"> View Product</a>
                          
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>
               <% end %>
              
            </div>
         </div>
      </div>