<div class="content">
         <div class="container">
            <div class="login-page">
               <div class="dreamcrub">
                  <ul class="breadcrumbs">
                     <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>&nbsp;
                        <span>&gt;</span>
                     </li>
                     <li class="women">
                        Login
                     </li>
                  </ul>
                  <ul class="previous">
                     <li><a href="/">Back to Previous Page</a></li>
                  </ul>
                  <div class="clearfix"></div>
               </div>
               <div class="account_grid">
                  <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                     <h2>NEW COUSTOMER</h2>
                     <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                     <a class="acount-btn" href="/api/user/v1/user/new">Create an Account</a>
                  </div>
                  <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                     <h3>REGISTERED COUSTOMER</h3>
                     <p>If you have an account with us, please log in.</p>
                     <form id="user_login" name="user_login" method="post">
                        <div>
                           <span>Email Address<label>*</label></span>
                           <input type="text" name="email" id="email"> 
                        </div>
                        <div>
                           <span>Password<label>*</label></span>
                           <input type="password" name="password" id="password"> 
                        </div>
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                     </form>
                  </div>
                  <div class="clearfix"> </div>
               </div>
            </div>
         </div>