      <!-- registration-form -->
<div class="registration-form">
   <div class="container">
   <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                       <a href="/" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Registration
                    </li>
                </ul>
                <ul class="previous">
                  <li><a href="/api/user/v1/user/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
      <h2>Registration</h2>
      <div class="registration-grids">
         <div class="reg-form">
            <div class="reg">
                <p>Welcome, please enter the following details to continue.</p>
                <p>If you have previously registered with us, <a href="/api/user/v1/user/">click here</a></p>
                <form action="/api/user/v1/user/create" id="user_create" name="user_create" method="post" enctype="multipart/form-data" >
                   <ul>
                      <li class="text-info">First Name: </li>
                      <li><input class="form-control" type="text" id="firstname" name="firstname" ></li>
                   </ul>
                   <ul>
                      <li class="text-info">Last Name: </li>
                      <li><input class="form-control" type="text" id="lastname" name="lastname" ></li>
                   </ul>             
                  <ul>
                      <li class="text-info">Email: </li>
                      <li><input class="form-control" type="email" id="email" name="email" ></li>
                   </ul>
                   <ul>
                      <li class="text-info">Password: </li>
                      <li><input class="form-control" type="password" id="password" name="password" ></li>
                   </ul>
                  <!--  <ul>
                      <li class="text-info">Re-enter Password:</li>
                      <li><input class="form-control" type="password"  id="password"  ></li>
                   </ul> -->
                   <ul>
                      <li class="text-info">Mobile Number:</li>
                      <li><input class="form-control" type="text" id="mobile_number" name="mobile_number"></li>
                   </ul> 
                    <ul>
                      <li class="text-info">Profile Image:</li>
                      <li><input class="form-control" type="file" id="image" name="image"></li>
                   </ul> 
                     <ul>
                      <li class="text-info">Address 1</li>
                      <li><input class="form-control" type="text" id="address1" name="address1"></li>
                   </ul>     
                   <ul>
                      <li class="text-info">Address 2</li>
                      <li><input class="form-control" type="text" id="address2" name="address2"></li>
                   </ul> 
                    <ul>
                      <li class="text-info">City</li>
                      <li><input class="form-control" type="text" id="city" name="city"></li>
                   </ul> 
                    <ul>
                      <li class="text-info">Country</li>
                      <li>
                        <select class="form-control" name="country_id" id="country_id" >
                          <option value="">Country</option>
                          <% @country.each do | c | %>
                          
                          <option value="<%= c.id %>"><%= c.name %></option>
                         
                          <% end %>
                        </select>
                      </li>
                   </ul>   
                   <ul>
                      <li class="text-info">State</li>
                      <li>
                        <select class="form-control" name="state_id" id="state_id" >
                          
                        </select>
                      </li>
                   </ul> 
                    <ul>
                      <li class="text-info">PIN Code</li>
                      <li><input class="form-control" type="text" id="pin_code" name="pin_code"></li>
                   </ul>                  
                   <input  type="submit" value="REGISTER NOW">
                   <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p> 
                </form>
             </div>
         </div>
         <div class="reg-right">
             <h3>Completely Free Account</h3>
             <div class="strip"></div>
             <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio 
             libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
             <h3 class="lorem">Lorem ipsum dolor.</h3>
             <div class="strip"></div>
             <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<!-- registration-form -->

<script type="text/javascript">
$(document).ready(function(){
  $(document).on('change', '#country_id', function() {
  
  var country_id = $(this).val();
 
  if(country_id==""){
    $('#country_id').focus();
    alert("Choose Your Country");
    return false;
  }
  
  $.ajax({
    type: "get",
    url: "/api/state/v1/state/get_state?country_id="+country_id,
    cache: false,
    success: function(response){
   
      if(response.status){
        $("#state_id").html("");
        console.log(response.data);
        var state = response.data.state
         $("#state_id").append("<option value='' >Select State</option>");
        for (var key in state) {

          $("#state_id").append("<option value='" + state[key]['id'] + "' >" + state[key]['name'] + "</option>");
       }
       
      }else{
        alert(response.errors)
      }
    },
    error: function(xhr, status, error) {
      alert(xhr.status+"  "+error)
    }
  });

});

});

</script>