
      <!-- registration-form -->
<div class="registration-form">
   <div class="container">
   <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                       <a href="/" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Profile 
                    </li>
                </ul>
                <ul class="previous">
                  <li><a href="/api/user/v1/user/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
      <h2>Profile </h2>
      <div class="registration-grids">
         <div class="reg-form">
            <div class="reg">
                <p>Welcome, please enter the following details to continue.</p>
                <p>If you have previously registered with us, <a href="/api/user/v1/user/">click here</a></p>
                <form enctype="multipart/form-data" action="/api/user/v1/user/<%= @user.id %>/update"  method="post">
                   <ul>
                      <li class="text-info">First Name: </li>
                      <li><input class="form-control"  type="text" id="firstname" name="firstname" value="<%= @user.firstname %>" ></li>
                   </ul>
                   <ul>
                      <li class="text-info">Last Name: </li>
                      <li><input class="form-control"  type="text" value="<%= @user.lastname %>" id="lastname" name="lastname" ></li>
                   </ul>             
                 
                   <ul>
                      <li class="text-info">Mobile Number:</li>
                      <li><input class="form-control"  type="text" value="<%= @user.mobile_number %>" id="mobile_number" name="mobile_number"></li>
                   </ul> 
                    <ul>
                      <li class="text-info">Profile Image:</li>
                      
                      <li><img src="<%= @user.image.url %>" width="50"> <input class="form-control"  type="file" id="image" name="image"></li>
                   </ul> 
                     <ul>
                      <li class="text-info">Address 1</li>
                      <li><input class="form-control"  type="text" value="<%= @user.address1 %>" id="address1" name="address1"></li>
                   </ul>     
                   <ul>
                      <li class="text-info">Address 2</li>
                      <li><input class="form-control"  type="text" value="<%= @user.address2 %>" id="address2" name="address2"></li>
                   </ul> 
                    <ul>
                      <li class="text-info">City</li>
                      <li><input class="form-control"  type="text" value="<%= @user.city %>" id="city" name="city"></li>
                   </ul> 
                   <ul>
                      <li class="text-info">Country</li>
                      <li>
                        <select class="form-control" name="country_id" id="country_id" >
                          <% @country.each do | c |
                          if @user.country_id==c.id %>
                            <option selected value="<%= c.id %>"><%= c.name %></option>
                          <% else %>
                          <option value="<%= c.id %>"><%= c.name %></option>
                          <% end %>
                          <% end %>
                        </select>
                      </li>
                   </ul>  
                   <ul>
                      <li class="text-info">State</li>
                      <li>

                        <select class="form-control" name="state_id" id="state_id" >
                          <% @state.each do | s |
                          if @user.state_id==s.id %>
                            <option selected value="<%= s.id %>"><%= s.name %></option>
                          <% else %>
                          <option value="<%= s.id %>"><%= s.name %></option>
                          <% end %>
                          <% end %>
                        </select>

                      </li>
                   </ul> 
                    <ul>
                      <li class="text-info">PIN Code</li>
                      <li><input class="form-control"  type="text" value="<%= @user.pin_code %>" id="pin_code" name="pin_code"></li>
                   </ul>                  
                   <input type="submit" value="Update NOW">
                   <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p> 
                </form>
             </div>
         </div>
         <div class="reg-right">
             <h3>Completely Free Account</h3>
             <div class="strip"></div>
             <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio 
             libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
             <h3 class="lorem">Lorem ipsum dolor.</h3>
             <div class="strip"></div>
             <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<!-- registration-form -->

<script type="text/javascript">
$(document).ready(function(){
  $(document).on('change', '#country_id', function() {
  

  var country_id = $(this).val();

  if(country_id==""){
    $('#country_id').focus();
    alert("Choose Your Country");
    return false;
  }
  
  $.ajax({
    type: "get",
    url: "/api/state/v1/state/get_state?country_id="+country_id,
    cache: false,
    success: function(response){
   
      if(response.status){
        $("#state_id").html("");
        console.log(response.data);
        var state = response.data.state
        $("#state_id").append("<option value='' >Select State</option>");
        for (var key in state) {

          $("#state_id").append("<option value='" + state[key]['id'] + "' >" + state[key]['name'] + "</option>");
       }
       
      }else{
        alert(response.errors)
      }
    },
    error: function(xhr, status, error) {
      alert(xhr.status+"  "+error)
    }
  });

});

});

</script>