<div class="container">
   <div class="dreamcrub">
               <ul class="breadcrumbs">
                  <li class="home">
                     <a href="/" title="Go to Home Page">Home</a>&nbsp;
                     <span>&gt;</span>
                  </li>
                  <li class="women">
                     My Orders
                  </li>
               </ul>
               <ul class="previous">
                  <li><a href="/">Back to Previous Page</a></li>
               </ul>
               <div class="clearfix"></div>
            </div>
  <h2>Your Order List</h2>
 <!--  <p>To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p> -->
<!--   <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#orders">Orders</a></li>
    <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
  </ul> -->
  
  <div class="tab-content">
    <div id="orders" class="tab-pane fade in active">
      
      <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product Name  </th>
        <th>Product Image </th>
        <th>Product  Price </th>
        <th>No of Quantity</th>
       
        
        <th>Product Size</th>
        <th>Product Color</th>
        <th>Date Of Order</th>
        <th>Total Order Price</th>
        <th>View</th>
        <th>Delete</th>
        <th>Checkout Now</th>
        <th>Transactions</th>
      </tr>
    </thead>
    <tbody>
      <% if  !@order.blank? 


       @order.each do |list| %>
      <tr>
        <td><%= list.order_id %></td>
        <td><%= list.name %></td>
        <td><img src="<%= list.image.url %>" style="width: 150px;"></td>
        <td><%= list.price %></td>

        <td><%= list.order_quantity %></td>
        <td><%= list.order_size %></td>


        <td><%= list.order_color %></td>
        <td><%= list.date_of_purchase %></td>
        <td><%= list.payable_amount %></td>
        <td><a title="View Product" target="_blank" href="/api/item/v1/item/<%= list.id %>/show">View</a></td>
        
        <td><button title="Remove Order" id="<%= list.o_id %>" class="order_delete btn btn-info btn-sm" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>

        <td><a  data-method="post" href="/api/payment/v1/payment/create?order_id=<%= list.order_id %>&amount=<%= list.payable_amount %>&status=Forworded to PGI" title="Make Payment"  class="make_payment1 btn btn-info btn-sm" ><i class="fa fa-credit-card" aria-hidden="true"></i>Checkout</a></td>

        <td><button id="view_payment" data-toggle="modal" data-target="#veiw-order-payments" title="View applications" order_id="<%= list.order_id %>" class=" btn btn-info btn-sm" >Payments</button></td>
       
      </tr>
      <% end 
      else  %>
       <tr> <td><h3>No Order Found</h3></td>   </tr>

       <%  end %>
    </tbody>
  </table>
    </div>
   <!--  <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div> -->
  </div>
</div>
<!-- Modal -->
  <div class="modal fade" id="veiw-order-payments" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Order Payment Informations</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
          <div class="panel-heading">Transaction Details</div>
          <div class="panel-body">
            <table class="table table-hover">
            <thead>
              <tr>
                <th>Session Id</th>
                <th>Transaction ID</th>
                <th>Order ID</th>
                <th>Amount ID</th>
                <th>Payment Status</th>
              </tr>
            </thead>
            <tbody id="payment-data"> 
           </tbody>
            </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<script type="text/javascript">
$(document).ready(function(){

// edit order event
$(document).on('click', '.order_delete', function() {

var order_id = $(this).attr("order_id");
var row =  $(this).parent().parent();
if(confirm("Are You sure You want to Delete This order! Click Ok to Delete! otherwise Click Cancel")){
    $.ajax({

      url: "/api/order/v1/order/"+order_id+"/delete",
      type: "get",
      async:true,
      contentType: false,
      processData:false,
      success: function(response) {
        if(response.status){
          $(row).hide("slow");
          alert(response.message);
        }else{
         alert(response.error);
        }
      },
      error: function(jqXHR, textStatus, errorMessage) {
        alert(errorMessage)     ;
      }

      });
    }else{
      alert("Delete Action Cancelled");
      return false;
    }

  });


// edit order event
$(document).on('click', '.make_payment', function() {

  var order_id = $(this).attr("order_id");
  var amount = $(this).attr("amount");
  var params = {"order_id":order_id,"amount":amount,"status":"Forworded to PGI"};

  if(confirm("Are You sure You want to Pay to This order! Click Ok to Pay! otherwise Click Cancel")){
    $.ajax({

      url: "/api/payment/v1/payment/create",
      type: "POST",
      data: {"payment": params},
      dataType: "json",
      success: function(response) {
        if(response.status){
          alert(response.data.payment.session_id);

        }else{
         alert(response.error);
        }
      },
      error: function(jqXHR, textStatus, errorMessage) {
        alert(errorMessage)     ;
      }

      });
    }else{
      alert("Payment Action Cancelled");
      return false;
    }

  });
//payment history
$(document).on('click', '#view_payment', function() {

  var order_id = $(this).attr("order_id");
  $.ajax({

    url: "/api/payment/v1/payment/show?order_id="+order_id ,
    type: "get",
    async:true,
    contentType: false,
    processData:false,
    success: function(response) {
      if(response.status){
         console.log(response);
          $("#payment-data").html("");
          for (var pays in response.payment ) {
            console.log(response.payment[0].session_id);
            
           $("#payment-data").append("<tr> <td>"+response.payment[0].session_id+"</td> <td>"+response.payment[0].transaction_id+"</td><td>"+response.payment[0].order_id+"</td> <td>"+response.payment[0].amount+"</td> <td>"+response.payment[0].status+"</td> </tr>");
           }
      }else{
       alert(response.error);
      }
      
    },
    error: function(jqXHR, textStatus, errorMessage) {
      alert(errorMessage)     ;
    }

    });
}); 
});
</script>
