
      <!-- registration-form -->
<div class="registration-form">
   <div class="container">
   <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                       <a href="/" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                      Order
                    </li>
                </ul>
                <ul class="previous">
                  <li><a href="/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
      <h2>Order & Payment</h2>
      <div class="registration-grids">
         <div class="reg-form">
            <div class="reg">
                <p>Welcome, please enter the following details to continue.</p>
                <p>If you have previously registered with us, <a href="#">click here</a></p>
                <form id="order_create" name="order_create"  method="post">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse1">Customer Information</a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                           <ul>
                              <li class="text-info">First Name: </li>
                              <li><%= @current_user.firstname %></li>
                           </ul>
                           <ul>
                              <li class="text-info">Last Name: </li>
                              <li><%= @current_user.lastname %></li>
                           </ul>             
                          <ul>
                              <li class="text-info">Email: </li>
                              <li><%= @current_user.email %></li>
                           </ul>
                           <ul>
                            <li class="text-info">Mobile Number:</li>
                            <li><%= @current_user.mobile_number %></li>
                         </ul> 
                        </div>
                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse2">Next >> Shipping Address</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse2">Shipping Address</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                          <ul>
                            <li class="text-info">shipping name </li>
                            <li><input required type="text" id="shipping_name" name="shipping_name"></li>
                         </ul>  
                          <ul>
                            <li class="text-info">shipping phone </li>
                            <li><input required type="text" id="shipping_phone" name="shipping_phone"></li>
                         </ul> 
                           
                         <ul>
                            <li class="text-info">shipping address</li>
                            <li><input required type="text" id="shipping_address" name="shipping_address"></li>
                         </ul> 
                          <ul>
                            <li class="text-info">shipping city</li>
                            <li><input required type="text" id="shipping_city" name="shipping_city"></li>
                         </ul> 
                         <ul>
                            <li class="text-info">shipping country</li>
                            <li><input required type="text" id="shipping_country" name="shipping_country"></li>
                         </ul>  
                         <ul>
                            <li class="text-info">shipping_state</li>
                            <li><input required type="text" id="shipping_state" name="shipping_state"></li>
                         </ul> 
                          <ul>
                            <li class="text-info">Shipping pincode</li>
                            <li><input required type="text" id="shipping_pincode" name="shipping_pincode"></li>
                         </ul> 
                          <ul>
                            <li class="text-info">Landmark</li>
                            <li><input type="text" id="shipping_landmark" name="shipping_landmark"></li>
                         </ul>              
                        </div>
                        <div class="panel-footer"><a data-toggle="collapse" href="#collapse3">Next >>  Order Summary</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse3">Order Summary</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                          <ul>
                            <li class="text-info">Product name </li>
                            <li ><%= @item_details.name %></li>
                          
                            <li><input type="hidden" id="item_id" name="item_id" value="<%= @get_order_details["item_id"]  %>"></li>
                            <input type="hidden" id="vendor_id" name="vendor_id" value="<%= @get_order_details["vendor_id"]  %>">
                            <input type="hidden" id="status" name="status" value="draft">
                         </ul>
                         <ul>
                          <%
                          price = @item_details[0].price.to_i
                          order_quantity = 1
                          if @get_order_details["order_quantity"].to_i!=0
                             order_quantity = @get_order_details["order_quantity"].to_i
                          end

                          %>
                            <li class="text-info">Order Price</li>
                            <li><i class="fa fa-inr" aria-hidden="true" style="vertical-align: middle;"></i> <%= price  %>*<%=  order_quantity %>  </li>
                             
                         </ul>
                         <ul>

                         <li class="text-info">Ordered Product Color</li>
                            <li> <%= @get_order_details["color"]%>  </li>
                             <input type="hidden" id="color" name="order_color" value="<%= @get_order_details["color"] %>">
                         </ul>
                            <ul>

                         <li class="text-info">Ordered Product Size</li>
                            <li><%=  @get_order_details["item_size"] %>  </li>
                            <input type="hidden" id="item_size" name="order_size" value="<%= @get_order_details["item_size"] %>">
                             
                         </ul>
                          <ul>
                         <li class="text-info">No of Products</li>
                            <li><i class="fa fa-inr" aria-hidden="true" style="vertical-align: middle;"></i> <%= order_quantity %>  </li>
                            <input type="hidden" id="order_quantity" name="order_quantity" value="<%= order_quantity %>">
                             
                         </ul>

                          <ul>
                            <li class="text-info">Net Amount</li>
                            <li><i class="fa fa-inr" aria-hidden="true" style="vertical-align: middle;"></i> <%= price*order_quantity %></li>
                       
                             
                             <input type="hidden" id="payable_amount" name="payable_amount" value="<%= price*order_quantity %>">

                         </ul>     
                                    
                        <ul>
                           <input type="submit" value="Order Now">
                        </div>
                        <div class="panel-footer"> terms and conditions applicable</div>
                      </div>
                    </div>
                  </div>
                               
                  
                   <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p> 
                </form>
             </div>
         </div>
         <div class="reg-right">
             <h3>Completely Free Account</h3>
             <div class="strip"></div>
             <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio 
             libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
             <h3 class="lorem">Lorem ipsum dolor.</h3>
             <div class="strip"></div>
             <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<!-- registration-form -->

<script type="text/javascript">
$(document).ready(function(){
 
  $("#order_create").submit(function( e ) {
    var order_create_form = {};
        $(this).serializeArray().map(function(x){order_create_form[x.name] = x.value;}); 
    
    $.ajax({
        type: "POST",
        url: "/api/order/v1/order/create",
        data: {"order": order_create_form },
        cache: false,
        dataType: "json",
        success: function(response){
          console.log(response);
          if(response.status){
            alert("Your Order is Successful");
          }else{
            alert(response.errors)
          }
        }
      });
    e.preventDefault();
  });


});



</script>