
<div class="banner">
  <div class="container">
    <div class="banner-bottom">
      <div class="banner-bottom-left">
        <h2>B<br>U<br>Y</h2>
      </div>
      <div class="banner-bottom-right">
        <div  class="callbacks_container">
          <ul class="rslides" id="slider4">
            <li>
              <div class="banner-info">
                <h3>Smart But Casual</h3>
                <p>Start your shopping here...</p>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Shop Online</h3>
                <p>Start your shopping here...</p>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Pack your Bag</h3>
                <p>Start your shopping here...</p>
              </div>
            </li>
          </ul>
        </div>

</div>
<div class="clearfix"> </div>
</div>
<div class="shop">
  <a href="/">SHOP COLLECTION NOW</a>
</div>
</div>
</div>
<!-- content-section-starts-here -->
<div class="container">
  <div class="main-content">
    <div class="online-strip">
      <div class="col-md-4 follow-us">
        <h3>follow us : <a class="twitter" href="/"></a><a class="facebook" href="/"></a></h3>
      </div>
      <div class="col-md-4 shipping-grid">
        <div class="shipping">
          <img src="<%= asset_path('shipping.png') %>" alt="" />
        </div>
        <div class="shipping-text">
          <h3>Free Shipping</h3>
          <p>on orders over $ 199</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 online-order">
        <p>Order online</p>
        <h3>Tel:999 4567 8902</h3>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="products-grid">
      <header>
        <h3 class="head text-center">Latest Products</h3>
      </header>

      <% @home_latest_item.each do |latest_item| %>
      <div class="col-md-4 product simpleCart_shelfItem text-center">

        <a href="/api/item/v1/item/<%= latest_item.id %>/show">
          <img src="<%= latest_item.image.url %>" alt="" />
        </a>
        <div class="mask">
          <a href="/api/item/v1/item/<%= latest_item.id %>/show">Quick View</a>
        </div>
        <a class="product_name" href="/api/item/v1/item/<%= latest_item.id %>/show "><%= latest_item.name %></a> 

        <p>

          <span title="add to cart" style="padding-right: 29px;" itemid="<%= latest_item.id %>" class="item_add"><i  class="fa fa-cart-plus add_cart" aria-hidden="true"></i> </span> <span class="item_price"><i class="fa fa-inr" aria-hidden="true"></i><%= latest_item.price %></span>
          <span class="item_mrp_price"><i class="fa fa-inr" aria-hidden="true"></i><%= latest_item.mrp %></span> 

          <span id="item_id<%= latest_item.id %>" style="padding-left: 25px;"> 
            <% if @wishlist_item.include? latest_item.id %>
            <i id="remove_wishlist" style="cursor: pointer;" itemid="<%= latest_item.id %>"  title="remove from wishlist" class="fa fa-heart" aria-hidden="true"></i>
            <% else %>
            <i id="add_wishlist" style="cursor: pointer;" itemid="<%= latest_item.id %>"  title="add to wishlist" class="fa fa-heart-o" aria-hidden="true"></i>

            <% end %>
          </span>
        </p>
      </div>
      <% end %>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="other-products">
  <div class="container">
    <h3 class="like text-center">Featured Collection</h3>
    <ul id="flexiselDemo3">
      <% @home_featured_item.each do |featured_item| %>
      <li>
        <a href="/api/item/v1/item/<%= featured_item.id %>/show">
          <img src="<%= featured_item.image.url %>" class="img-responsive" alt="" /></a>
          <div class="product liked-product simpleCart_shelfItem">
            <a class="like_name" href="/api/item/v1/item/<%= featured_item.id %>/show"><%= featured_item.name %></a>
            <p>
              <span title="add to cart" style="padding-right: 29px;" itemid="<%= featured_item.id %>" class="item_add"><i  class="fa fa-cart-plus add_cart" aria-hidden="true"></i> </span> <span class="item_price"><i class="fa fa-inr" aria-hidden="true"></i><%= featured_item.price %></span>
              <span class="item_mrp_price"><i class="fa fa-inr" aria-hidden="true"></i><%= featured_item.mrp %></span> 


              <span id="item_id<%= featured_item.id %>" style="padding-left: 25px;"> 
                <% if @wishlist_item.include? featured_item.id %>
                <i id="remove_wishlist" style="cursor: pointer;" itemid="<%= featured_item.id %>"  title="remove from wishlist" class="fa fa-heart" aria-hidden="true"></i>
                <% else %>
                <i id="add_wishlist" style="cursor: pointer;" itemid="<%= featured_item.id %>"  title="add to wishlist" class="fa fa-heart-o" aria-hidden="true"></i>

                <% end %>
              </span>
            </p>
          </div>
        </li>
        <% end %>
      </ul>
      <script type="text/javascript">
      $(window).load(function() {
        $("#flexiselDemo3").flexisel({
          visibleItems: 4,
          animationSpeed: 1000,
          autoPlay: true,
          autoPlaySpeed: 3000,        
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
          responsiveBreakpoints: { 
            portrait: { 
              changePoint:480,
              visibleItems: 1
            }, 
            landscape: { 
              changePoint:640,
              visibleItems: 2
            },
            tablet: { 
              changePoint:768,
              visibleItems: 3
            }
          }
        });

      });
      </script>
      <script type="text/javascript">
      $(document).ready(function(){
        var userOnline = "<%= cookies[:user_auth_token] %>";
        $(".profile_tag").hide();
        $(".topbar_login").hide();
        if(!userOnline){
          $(".topbar_login").show();
        }else{
          $(".profile_tag").show();
        }
        $(".item_add").click(function(e) {

          var user_auth_token = "<%= cookies[:user_auth_token] %>";
          alert(user_auth_token);
          if(!user_auth_token){
            $("#user_login_modal_btn").trigger("click");
            return false;
          }

          var item_id = $(this).attr("itemid");
          var shopping_cart = {"shopping_cart":{"item_id":item_id,"status":"active"}}
          console.log("add to cart data",shopping_cart);
          $.ajax({
            type: "POST",
            url: "/api/shopping_cart/v1/shopping_cart/create",
            data: shopping_cart,
            cache: false,
            dataType: "json",
            success: function(response){
              console.log("item added to shopping_cart",response);
              if(response.status){
                $(".user_cart_amount").text(response.data.cart_amount);
                $(".user_cart_count").text(response.data.cart_count);
                $("#view_cart").attr("href","/api/shopping_cart/v1/shopping_cart/");
                alert("Item added to cart ");


              }else{
                alert(response.errors)
              }
            },
            error: function(xhr, status, error) {
              alert(xhr.status+"  "+error)
            }
          });
          e.preventDefault();
        });

$(document).on('click', '#add_wishlist', function() {
  var user_auth_token = "<%= cookies[:user_auth_token] %>";
  if(!user_auth_token){
    $("#user_login_modal_btn").trigger("click");
    return false;
  }

  var item_id = $(this).attr("itemid");
  var classname = $(this).attr("class");
  var product_box_id = $(this).parent().attr("id");
  var user_wishlist = {"user_wishlist":{"item_id":item_id,"status":"active"}}
  console.log("add to cart data",user_wishlist);
  $.ajax({
    type: "POST",
    url: "/api/wishlist/v1/wishlist/create",
    data: user_wishlist,
    cache: false,
    dataType: "json",
    success: function(response){
      console.log("item added to user_wishlist",response);
      if(response.status){
        $("#"+product_box_id).find("i").removeClass("fa fa-heart-o").addClass("fa fa-heart");
        $("#"+product_box_id).find("i").attr("id","remove_wishlist");
        $("#"+product_box_id).find("i").attr("title","remove from wishlist");
        alert("Item added to wishlist ");
      }else{
        alert(response.errors)
      }
    },
    error: function(xhr, status, error) {
      alert(xhr.status+"  "+error)
    }
  });

});
$(document).on('click', '#remove_wishlist', function() {

  var user_auth_token = "<%= cookies[:user_auth_token] %>";
  if(!user_auth_token){
    $("#user_login_modal_btn").trigger("click");
    return false;
  }

  var item_id = $(this).attr("itemid");
  var classname = $(this).attr("class");
  var product_box_id = $(this).parent().attr("id");
  var user_wishlist = {"item_id":item_id}
  console.log("add to cart data",user_wishlist);
  $.ajax({
    type: "get",
    url: "/api/wishlist/v1/wishlist/delete",
    data: user_wishlist,
    cache: false,
    success: function(response){
      console.log("item added to user_wishlist",response);
      if(response.status){
        $("#"+product_box_id).find("i").removeClass("fa fa-heart").addClass("fa fa-heart-o");
        $("#"+product_box_id).find("i").attr("id","add_wishlist");
        $("#"+product_box_id).find("i").attr("title","add to wishlist");
        alert(response.message);
      }else{
        alert(response.errors)
      }
    },
    error: function(xhr, status, error) {
      alert(xhr.status+"  "+error)
    }
  });

});



});

</script>
<script>
$(function () {

  $("#slider4").responsiveSlides({
    auto: true,
    pager:true,
    nav:false,
    speed: 500,
    namespace: "callbacks",
    before: function () {
      $('.events').append("<li>before event fired.</li>");
    },
    after: function () {
      $('.events').append("<li>after event fired.</li>");
    }
  });

});
  </script>
</div>
</div>
