
<!-- content-section-starts-here -->
      <div class="container">
         <div class="main-content">
            <div class="online-strip">
               <div class="col-md-4 follow-us">
                  <h3>follow us : <a class="twitter" href="/"></a><a class="facebook" href="/"></a></h3>
               </div>
               <div class="col-md-4 shipping-grid">
                  <div class="shipping">
                     <img src="<%= asset_path('shipping.png') %>" alt="" />
                  </div>
                  <div class="shipping-text">
                     <h3>Free Shipping</h3>
                     <p>on orders over $ 199</p>
                  </div>
                  <div class="clearfix"></div>
               </div>
               <div class="col-md-4 online-order">
                  <p>Order online</p>
                  <h3>Tel:999 4567 8902</h3>
               </div>
               <div class="clearfix"></div>
            </div>
            <div class="products-grid">
               <!-- <header>
                  <h3 class="head text-center">Latest Products</h3>
               </header> -->

                <%
                if !@item.blank? 

                 @item.each do |latest_item| %>
               <div class="col-md-4 product simpleCart_shelfItem text-center">
                  <a href="/api/item/v1/item/<%= latest_item.id %>/show ">
                  <img src="<%= latest_item.image.url %>" alt="" />
                  </a>
                  <div class="mask">
                     <a href="/api/item/v1/item/<%= latest_item.id %>/show">Quick View</a>
                  </div>
                  <a class="product_name" href="/api/item/v1/item/<%= latest_item.id %>/show "><%= latest_item.name %></a>
                 <p>

                  <span title="add to cart" style="padding-right: 29px;" itemid="<%= latest_item.id %>" class="item_add_cart"><i  class="fa fa-cart-plus add_cart" aria-hidden="true"></i> </span> <span class="item_price"><i class="fa fa-inr" aria-hidden="true"></i><%= latest_item.price %></span>
                  <span class="item_mrp_price"><i class="fa fa-inr" aria-hidden="true"></i><%= latest_item.mrp %></span> 

                  <span id="item_id<%= latest_item.id %>" style="padding-left: 25px;"> 
                    <% if @wishlist_item.include? latest_item.id %>
                    <i id="remove_to_wishlist" style="cursor: pointer;" itemid="<%= latest_item.id %>"  title="remove from wishlist" class="fa fa-heart" aria-hidden="true"></i>
                    <% else %>
                    <i id="add_to_wishlist" style="cursor: pointer;" itemid="<%= latest_item.id %>"  title="add to wishlist" class="fa fa-heart-o" aria-hidden="true"></i>

                    <% end %>
                  </span>
                </p>
               </div>
               <% end 
            else
               %>
                <header>
                  <h3 class="head text-center">Products Not Found</h3>
               </header>
              <% end %>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>

<script type="text/javascript">
$(document).ready(function(){
  var userOnline = "<%= cookies[:user_auth_token] %>";
  console.log("userOnline check",userOnline);
  $(".profile_tag").hide();
  $(".topbar_login").hide();
  if(!userOnline){
    $(".topbar_login").show();
  }else{
    $(".profile_tag").show();
  }
  $(".item_add_cart").click(function(e) {

    var user_auth_token = "<%= cookies[:user_auth_token] %>";
    if(!user_auth_token){
      $("#user_login_modal_btn").trigger("click");
      return false;
    }

    var item_id = $(this).attr("itemid");
    var shopping_cart = {"shopping_cart":{"item_id":item_id,"status":"active"}}
    console.log("add to cart data",shopping_cart);
    $.ajax({
      type: "POST",
      url: "/api/shopping_cart/v1/shopping_cart/create",
      data: shopping_cart,
      cache: false,
      dataType: "json",
      success: function(response){
        console.log("item added to shopping_cart",response);
        if(response.status){
          $(".user_cart_amount").text(response.data.cart_amount);
          $(".user_cart_count").text(response.data.cart_count);
          $("#view_cart").attr("href","/api/shopping_cart/v1/shopping_cart/");
          alert("Item added to cart ");


        }else{
          alert(response.errors)
        }
      },
      error: function(xhr, status, error) {
        alert(xhr.status+"  "+error)
      }
    });
    e.preventDefault();
  });

$(document).on('click', '#add_to_wishlist', function() {
  var user_auth_token = "<%= cookies[:user_auth_token] %>";
  if(!user_auth_token){
    $("#user_login_modal_btn").trigger("click");
    return false;
  }

  var item_id = $(this).attr("itemid");
  var classname = $(this).attr("class");
  var product_box_id = $(this).parent().attr("id");
  var user_wishlist = {"user_wishlist":{"item_id":item_id,"status":"active"}}
  console.log("add to cart data",user_wishlist);
  $.ajax({
    type: "POST",
    url: "/api/wishlist/v1/wishlist/create",
    data: user_wishlist,
    cache: false,
    dataType: "json",
    success: function(response){
      console.log("item added to user_wishlist",response);
      if(response.status){
        $("#"+product_box_id).find("i").removeClass("fa fa-heart-o").addClass("fa fa-heart");
        $("#"+product_box_id).find("i").attr("id","remove_to_wishlist");
        $("#"+product_box_id).find("i").attr("title","remove from wishlist");
        alert("Item added to wishlist ");
      }else{
        alert(response.errors)
      }
    },
    error: function(xhr, status, error) {
      alert(xhr.status+"  "+error)
    }
  });

});
$(document).on('click', '#remove_to_wishlist', function() {
 
  var user_auth_token = "<%= cookies[:user_auth_token] %>";
  if(!user_auth_token){
    $("#user_login_modal_btn").trigger("click");
    return false;
  }

  var item_id = $(this).attr("itemid");
  var classname = $(this).attr("class");
  var product_box_id = $(this).parent().attr("id");
  var user_wishlist = {"item_id":item_id}
  console.log("add to cart data",user_wishlist);
  $.ajax({
    type: "get",
    url: "/api/wishlist/v1/wishlist/delete",
    data: user_wishlist,
    cache: false,
    success: function(response){
      console.log("item added to user_wishlist",response);
      if(response.status){
        $("#"+product_box_id).find("i").removeClass("fa fa-heart").addClass("fa fa-heart-o");
        $("#"+product_box_id).find("i").attr("id","add_to_wishlist");
        $("#"+product_box_id).find("i").attr("title","add to wishlist");
        alert(response.message);
      }else{
        alert(response.errors)
      }
    },
    error: function(xhr, status, error) {
      alert(xhr.status+"  "+error)
    }
  });

});



});

</script>