<h2> Order Payment information</h2>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>Session Id</td>
      <td></td>
      <td>Transaction ID</td>
      <td></td>
      <td>Order ID</td>
      <td></td>
      <td>Amount</td>
      <td></td>
    </tr>
  </tbody>
</table>
