      <!-- registration-form -->
<div class="registration-form">
   <div class="container">
   <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                      Account Registration
                    </li>
                </ul>
                <ul class="previous">
                  <li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
      <h2>Vendor Account Registration</h2>
      <p ><h2 id="notice"><%= notice %></h2></p>
      <div class="registration-grids">
         <div class="reg-form">
            <div class="reg">
                <p>Welcome, please enter the following details to continue.</p>
                <p>If you have previously registered with us, <a href="#">click here</a></p>
                <form action="/api/vendor_account/v1/vendor_account/create" name="vendor_account" method="post">
                   <ul>
                      <li class="text-info">Account Number: </li>
                      <li><input class="form-control" name="acc_number" type="text" value=""></li>
                   </ul>
                   <ul>
                      <li class="text-info">Acoountant Name: </li>
                      <li><input class="form-control" name="acc_name" type="text" value=""></li>
                   </ul>             
                  <ul>
                      <li class="text-info">Bank Name: </li>
                      <li><input class="form-control" name="bank_name" type="text" value=""></li>
                   </ul>
                   <ul>
                      <li class="text-info">Branch name: </li>
                      <li><input class="form-control" name="bank_branch_name" type="text" value=""></li>
                   </ul>
                   <ul>
                      <li class="text-info">Branch Address:</li>
                      <li><input class="form-control" name="branch_address" type="text" value=""></li>
                   </ul>
                   <ul>
                      <li class="text-info">IFSC Code:</li>
                      <li><input class="form-control" name="ifsc_code" type="text" value=""></li>
                   </ul>  
                   <ul>
                      <li class="text-info">Account Type:</li>
                      <li><input class="form-control" name="acc_type" type="text" value=""></li>
                      <input class="form-control" name="status" type="hidden" value="active">
                   </ul>  
                                   
                   <input name="" type="submit" value="REGISTER NOW">
                   <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p> 
                </form>

                  <% if @vendor_account.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@vendor_account.errors.count, "error") %> prohibited this pet from being saved:</h2>

                      <ul>
                      <% @vendor_account.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
             </div>
         </div>
         <div class="reg-right">
             <h3>Completely Free Account</h3>
             <div class="strip"></div>
             <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio 
             libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
             <h3 class="lorem">Lorem ipsum dolor.</h3>
             <div class="strip"></div>
             <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<!-- registration-form -->