<script>
 $(document).ready(function(c) {
    // $('.close1').on('click', function(c){
    //   $('.cart-header').fadeOut('slow', function(c){
    //     $('.cart-header').remove();
    //   });
    //   }); 
      // $("#buy_now").click(function(){
      //      var order_quantity = $("#order_quantity").val();
      //      var to_link ="";
      //      if(order_quantity==""){
      //        alert("Enter the Quantities");
      //        $("#order_quantity").focus();
      //         return false;
      //      }else{
      //         to_link = $(this).attr("href")+"&order_quantity="+order_quantity;
      //         $(this).attr("href",to_link);
      //      }
      //    });  
//


      $(document).on('click', '#buy_now', function() { 
          var user_auth_token = "<%= cookies[:user_auth_token] %>";
          console.log("user_auth_token", user_auth_token);
          if(!user_auth_token){
           $("#user_login_modal_btn").trigger("click");
           return false;
          }
           var order_quantity = $("#order_quantity").val();
           var to_link ="";
           if(order_quantity==""){
             alert("Enter the Quantities");
             $("#order_quantity").focus();
             return false;
           }else{
              
              var select_color = $("#select_color").val();
              var select_size = $("#select_size").val();
              to_link = $(this).attr("href")+"&order_quantity="+order_quantity+"&color="+select_color+"&item_size="+select_size;
              $(this).attr("href",to_link);
           }
         }); 


//


       $(document).on('click', '#remove_shopping_cart_item', function() {
     
      var user_auth_token = "<%= cookies[:user_auth_token] %>";
      if(!user_auth_token){
        $("#user_login_modal_btn").trigger("click");
        return false;
      }
      var item_id = $(this).attr("itemid");
      var product_box_id = $(this).parent().attr("id");
      var user_cartlist = {"item_id":item_id}
      console.log("add to cart data",user_cartlist);
      $.ajax({
        type: "get",
        url: "/api/shopping_cart/v1/shopping_cart/delete",
        data: user_cartlist,
        cache: false,
        success: function(response){
          console.log("item deleted from shopping_cart",response);
          if(response.status){
            $("#"+product_box_id).fadeOut('slow', function(c){
              $("#"+product_box_id).remove();
            });
            alert(response.message);
          }else{
            alert(response.errors)
          }
        },
        error: function(xhr, status, error) {
          alert(xhr.status+"  "+error)
        }
      });

    });
  
    });
 </script>

      <div class="cart-items">
         <div class="container">
            <div class="dreamcrub">
               <ul class="breadcrumbs">
                  <li class="home">
                     <a href="/" title="Go to Home Page">Home</a>&nbsp;
                     <span>&gt;</span>
                  </li>
                  <li class="women">
                     My Cart
                  </li>
               </ul>
               <ul class="previous">
                  <li><a href="/">Back to Previous Page</a></li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <h2>MY SHOPPING BAG (<%= @cart_count %>)</h2>
            <div class="cart-gd">
              
               <% @shopping_cart.each do |cart_item| %>
               
                   <div  id="itemheader<%= cart_item.id %>" class="cart-header">
                  <div id="remove_shopping_cart_item" itemid="<%= cart_item.id %>"  title="Remove from Shopping Cart" class="close1"><i class="fa fa-times" aria-hidden="true"></i> </div>
                  <div class="cart-sec simpleCart_shelfItem">
                     <div class="cart-item cyc">
                        <img src="<%= cart_item.image.url %>" class="img-responsive" alt="">
                     </div>
                     <div class="cart-item-info">
                        <h3><a href="/api/item/v1/item/<%= cart_item.id %>/show"><%= cart_item.name %></a></h3>

                        <h3><%= cart_item.heading %></h3>
                        <ul class="qty">
                           <li>
                              <p><i class="fa fa-inr" aria-hidden="true"></i><span id="item_price_value"><%= cart_item.price %></span></p>
                           </li>
                           <li>
                              <p>Discount %<%= cart_item.discount %></p>
                           </li>
                        </ul>
                        <div class="delivery">

                           
                           <span>Delivered in 1-1:30 hours</span>
                           <div class="clearfix"></div>
                        </div>
                         <div class="delivery">
                           <a  href="/api/item/v1/item/<%= cart_item.id %>/show" class="btn btn-warning">View Product</a>
                          
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>
               <% end %>
              
            </div>
         </div>
      </div>