
<%= form_tag("/api/administrator/v1/administrator/#{@administrator.id}/update_status", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:status,@administrator.status) %>
  <%= submit_tag("Update") %>
<% end %>
