<h1>Api::Administrator::V1::Administrator#index</h1>
<p>Find me in app/views/api/administrator/v1/administrator/index.html.erb</p>

<p>welcome </p>

<% session.inspect %>
<li>  yes login  </li>


<%= form_tag("/api/administrator/v1/administrator/login", method: "post") do %>
  
  
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  
  <button type="submit" class="btn btn-default">Login</button>

<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrator.each do |admin| %>
    <tr>
      <td><%= admin.email %></td>
      <td><%= admin.password %></td>
      <td><%= link_to 'Show', api_administrator_v1_path(admin) %></td>
      <td><%= link_to 'Edit', "/api/administrator/v1/administrator/#{admin.id}/edit" %></td>
      <td><%= link_to 'Destroy', "/api/administrator/v1/administrator/#{admin.id}/delete", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
