<h1>Api::Administrator::V1::Administrator#login</h1>
<p>Find me in app/views/api/administrator/v1/administrator/login.html.erb</p>
<p>welcome <% puts session[:profile_name] %></p>
<%= session.inspect %>