<h1>Api::Administrator::V1::Administrator#show</h1>
<p>Find me in app/views/api/administrator/v1/administrator/show.html.erb</p>
<p>
  <i class="fa fa-camera-retro"></i>
  <strong>Profile Name:</strong>
  <%= @administrator.profile_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @administrator.email %>
</p>


