<h1>Api::Administrator::V1::Administrator#update_status</h1>
<p>Find me in app/views/api/administrator/v1/administrator/update_status.html.erb</p>
 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>