.item_price{
  color: rgba(0, 128, 0, 0.74) !important;
  padding-right: 10px;
}
.item_mrp_price{
  text-decoration: line-through;
  color: red !important;
}
.profile_tag{
    float: left;
    list-style: none;
    padding-left: 10px;
}
.user_profile{
  font-size: 14px;
  color: #FFC6CF;
}
.profile_tag .profile_action{
  min-width: 150px;
}

.profile_action ul{
  padding-left: 10px;
}


#vendor_order_modal label.span{
  font-weight: 100;
}