   <!-- content-section-starts -->
  
      <div class="container">
         <div class="products-page">
            <div class="products">
               <div class="product-listy">
                  <h2>our Products</h2>
                  <ul class="product-list">
                     <li><a href="">New Products</a></li>
                     <li><a href="">Old Products</a></li>
                     <li><a href="">T-shirts</a></li>
                     <li><a href="">pants</a></li>
                     <li><a href="">Dress</a></li>
                     <li><a href="">Shorts</a></li>
                     <li><a href="#">Shirts</a></li>
                     <li><a href="#">Register</a></li>
                  </ul>
               </div>
               <div class="latest-bis">
                  <img src="<%= @item.image.url  %>" class="img-responsive" alt="" />
                  <div class="offer">
                     <p>40%</p>
                     <small>Top Offer</small>
                  </div>
               </div>
               <div class="tags">
                  <h4 class="tag_head">Tags Widget</h4>
                  <ul class="tags_links">
                     <li><a href="#">Kitesurf</a></li>
                     <li><a href="#">Super</a></li>
                     <li><a href="#">Duper</a></li>
                     <li><a href="#">Theme</a></li>
                     <li><a href="#">Men</a></li>
                     <li><a href="#">Women</a></li>
                     <li><a href="#">Equipment</a></li>
                     <li><a href="#">Best</a></li>
                     <li><a href="#">Accessories</a></li>
                     <li><a href="#">Men</a></li>
                     <li><a href="#">Apparel</a></li>
                     <li><a href="#">Super</a></li>
                     <li><a href="#">Duper</a></li>
                     <li><a href="#">Theme</a></li>
                     <li><a href="#">Responsive</a></li>
                     <li><a href="#">Women</a></li>
                     <li><a href="#">Equipment</a></li>
                  </ul>
               </div>
            </div>
            <div class="new-product">
               <div class="col-md-5 zoom-grid">
                  <div class="flexslider">
                     <ul class="slides">
                        <li data-thumb="<%= @item.image.url %>">
                           <div class="thumb-image"> <img src="<%= @item.image.url%>" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                        </li>
                       <!--  <li data-thumb="<%= @item.image.url %>">
                           <div class="thumb-image"> <img src="<%= @item.image.url %>" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                        </li>
                        <li data-thumb="<%= @item.image.url %>">
                           <div class="thumb-image"> <img src="<%= @item.image.url %>" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                        </li> -->
                     </ul>
                  </div>
               </div>
               <div class="col-md-7 dress-info">
                  <div class="dress-name">
                     <h3><%= @item.name  %></h3>
                     <div class="clearfix"></div>
                 </div>
                  <div class="span span1">
                     <p class="left">FABRIC ORIGIN</p>
                     <p class="right">Japan</p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="span span2">
                     <p class="left">MADE IN</p>
                     <p class="right">  <%= @item.features['made_in'] %> </p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="span span3">
                     <p class="left">COLOR</p>
                     <p class="right">

                         <span class="selection-box">
                           <select class="domains valid" id="select_color" name="color">
                              <%  item_color = @item.features['color'].split(",") %>
                              <% item_color.each do |color,value| %>
                              
                              <option value="<%= color %>"><%= color %></option>
                             
                             <% end %>
                           </select>
                        </span>
                     </p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="span span4">
                     <p class="left">SIZE</p>
                     <p class="right"> 
                       
                        <span class="selection-box">
                           <select class="domains valid" id="select_size" name="item_size">
                              <%  all_size = @item.features['item_size'] %>
                              <% all_size.each do |size,value| %>
                             
                              <option value="<%= value %>"><%= size %></option>
                            
                             <% end %>
                           </select>
                        </span>
                     </p>
                     <div class="clearfix"></div>
                  </div>

                    <div class="span span4" style="padding-top: 20px;">
                     <p class="left">Quantity</p>
                     <p class="right">
                        <input type="number" placeholder="No.of Quantity" id="order_quantity">
                     </p>
                     <div class="clearfix"></div>
                  </div>
      <h3>Vendors (<%= @item_vendors.length %>)</h3>
        <div class="span span1">
          <p class="left">Vendor Name</p>
          <p class="right">Price </p>
          <p class="right" style="padding-left: 20px;">Available Area </p>
          <div class="clearfix"></div>
        </div>
        <% @item_vendors.each do |vendor| %>
         <div class="" style="border-bottom: 1px solid #eee;padding: 15px 0;margin: 18px 0;">
            <p class="left"><%= vendor.firstname.upcase() %></p>
            <p class="right"><i class="fa fa-inr" aria-hidden="true"></i><%= vendor.price %></p>
            <p class="right" style="padding-left: 20px;"><%= vendor.city %>-<%= vendor.pin_code %></p>

            <p class="right" style="padding-left: 20px;">
              <a  id="buy_now" href="/api/order/v1/order/new?item_id=<%= @item.id %>&vendor_id=<%= vendor.vendor_id %>" item_id="<%= @item.id %>" type="button" class="btn btn-warning"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Buy Now</a></p>
              <p><span >Discount:%<%= vendor.discount %> </span>
                <span style="padding-left: 30px;">MRP:  <i class="fa fa-inr" aria-hidden="true"></i><%= vendor.mrp %> </span>
                <span  style="padding-left: 30px;">In Stock:<%= vendor.instock %></span></p>
            <div class="clearfix"></div>
          </div>

          <% end %>
                 
                  
               </div>
               <div class="clearfix"></div>
               <div class="reviews-tabs">
                  <!-- Main component for a primary marketing message or call to action -->
                  <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
                     <li class="test-class active">
                        <a data-toggle="pill" href="#how-to"> More Information</a></li>
                     <li class="test-class"><a data-toggle="pill" href="#features">Specifications</a></li>
                     <li class="test-class"><a data-toggle="pill" href="#source" class="deco-none" >Comments (7)</a></li>
                  </ul>
                  <div class="tab-content responsive hidden-xs hidden-sm">
                     <div class="tab-pane active" id="how-to">
                        <p class="tab-text">
                         <%= @item.description %></p>
                     </div>
                     <div class="tab-pane" id="features">
                      <% features = @item['features'] %>
                       <% specifications = features['specifications'] %>
                       
                        <% specifications.each do |specify, value|  %>
                        <div class="span span1">
                           <p class="left"><%= specify %></p>
                           <p class="right"><%= value %></p>
                           <div class="clearfix"></div>
                        </div>
                        <% end %>
                      
                     </div>
                     <div class="tab-pane" id="source">
                      <!-- comments starts -->
                        <div class="response">
                          <% @item_comments.each do | comment | %>
                           <div class="media response-info">
                              <div class="media-left response-text-left">
                                <a href="#">
                                  <img class="media-object" src="<%= asset_path('icon1.png') %>" alt="">
                                </a>
                                <h5><a href="#">Username</a></h5>
                              </div>
                              <div class="media-body response-text-right">
                                <p><%= comment.comment_text %> </p>
                                <ul>
                                  <li><%= comment.created_at %></li>
                                </ul>
                              </div>
                              <div class="clearfix"> </div>
                            </div> 
                           <% end %>   
                        </div>
                         <!-- comments  ends -->
                         <h2> Leave Your Comment </h2>

                           <form id="item_comment_form" method="post" name="item_comment_form">
                            <input type="hidden" id="item_id" name="item_id" value="<%= @item.id %>">
                         
                            <textarea  class="form-control" id="comment_text" name="comment_text"></textarea><br>
                            <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                           </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
      <div class="other-products products-grid">
         <div class="container">
            <header>
               <h3 class="like text-center">Related Products</h3>
            </header>
            <% @related_item.each do |related| %>
            <div class="col-md-4 product simpleCart_shelfItem text-center">
               <a href="/api/item/v1/item/<%= related.id %>/show"><img src=" <%= related.image.url %>" alt="" /></a>
               <div class="mask">
                  <a href="/api/item/v1/item/<%= related.id %>/show">Quick View</a>
               </div>
               <a class="product_name" href="/api/item/v1/item/<%= related.id %>/show"> <%= related.name %></a>
               <p>
                <a title="add to cart" itemid="<%= related.id %>" class="item_add" href="javascript:;">
                      <i class="fa fa-cart-plus add_cart" aria-hidden="true"></i> <span class="item_price"><i class="fa fa-inr" aria-hidden="true"></i><%= related.price %></span>
                        <span class="item_mrp_price"><i class="fa fa-inr" aria-hidden="true"></i><%= related.mrp %></span>
                     </a>
                  </p>
            </div>
           <% end %>
            <div class="clearfix"></div>
         </div>
      </div>
      <!-- content-section-ends -->

       <script>
   $(document).ready(function(c) {
    var userOnline = "<%= cookies[:user_auth_token] %>";
      console.log("userOnline check",userOnline);
      $(".profile_tag").hide();
      $(".topbar_login").hide();
      if(!userOnline){
        $(".topbar_login").show();
      }else{
        $(".profile_tag").show();
      }
      $(document).on('click', '#buy_now', function() { 
          var user_auth_token = "<%= cookies[:user_auth_token] %>";
          console.log("user_auth_token", user_auth_token);
          if(!user_auth_token){
           $("#user_login_modal_btn").trigger("click");
           return false;
          }
           var order_quantity = $("#order_quantity").val();
           var to_link ="";
           if(order_quantity==""){
             alert("Enter the Quantities");
             $("#order_quantity").focus();
             return false;
           }else{
              
              var select_color = $("#select_color").val();
              var select_size = $("#select_size").val();
              to_link = $(this).attr("href")+"&order_quantity="+order_quantity+"&color="+select_color+"&item_size="+select_size;
              $(this).attr("href",to_link);
           }
         }); 
          $("#item_comment_form").submit(function( e ) {
              var item_comment_form = {};
              $(this).serializeArray().map(function(x){item_comment_form[x.name] = x.value;}); 
              $.ajax({
                  type: "POST",
                  url: "/api/comment/v1/comment/create",
                  data: {"comment": item_comment_form},
                  cache: false,
                  dataType: "json",
                  success: function(response){
                    console.log(response);
                    if(response.status){
                      var append_text = "<div class='media response-info'><div class='media-left response-text-left'><a href='#'><img class='media-object' src='<%= asset_path('icon1.png') %>' alt='' /></a><h5><a href='#'>Username</a></h5></div><div class='media-body response-text-right'><p>"+response.data.comment.comment_text+"</p><ul><li>"+response.data.comment.created_at+"</li></ul></div><div class='clearfix'> </div></div>";
                           $(".response").append(append_text);
                      alert("Your comment Posted Successfully");

                      
                    }else{
                      alert(response.errors)
                    }
                  }
                });
              e.preventDefault();
            });

      });
  

   </script>
<script>
 // Can also be used with $(document).ready()
 $(window).load(function() {
   $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
   });
 });
</script>