<!DOCTYPE html>
<html>
<head>
   <title>OnlineShopping</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
    
</head>
<body>
  
   
   <!-- header-section-starts -->
   <div class="header">
      <div class="header-top-strip">
         <div class="container">
            <div class="header-top-left">
               <ul>
                  <li><a href="/api/vendor/v1/vendor/"><span class="glyphicon glyphicon-user"> </span>Seller</a></li>
                  <li><a href="/api/user/v1/user/"><span class="glyphicon glyphicon-user"> </span>User</a></li>

               </ul>
            </div>
            <div class="header-right">
               <div class="cart box_1">

                  <%
                  view_cart = ""
                  if(@cart_count!=0)
                     view_cart = "/api/shopping_cart/v1/shopping_cart/"
                  else
                     view_cart = "javascript:;"
                  end  
                  %>

                  <a id="view_cart" href="<%= view_cart %>">
                     <h3> <i class="fa fa-inr" aria-hidden="true" 
                        style="vertical-align: middle;"></i> <span class="user_cart_amount"> <%= @cart_item_amount %> </span> (<span id="simpleCart_quantity" class="user_cart_count"> <%= @cart_count %> </span>)
                        <img src="<%= asset_path('bag.png') %>" />
                     </h3>
                  </a>
                  <%
                  profile_tag = "display:none"
                   if !cookies[:user_auth_token] %>
                  <p><a href="javascript:;" class="topbar_login simpleCart_empty" data-toggle="modal" data-target="#userlogin_modal" >Login</a></p>
                   <% else 
                     profile_tag = "display:block"
                    end %>

                 <!--  <button id="user_login_modal_btn" type="button" class="btn btn-info btn-lg" >Open Modal</button> -->
                  <!-- my profile -->

                  <li style="<%= profile_tag %>" class="dropdown profile_tag">
                     <a href="#" class="dropdown-toggle user_profile" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                     <ul class="dropdown-menu multi-column profile_action">
                        <div class="row">
                           <div class="col-sm-12">
                              <ul class="multi-column-dropdown">
                                 <h6>My Profile</h6>
                                 <li><a href="#">Profile</a></li>
                                 <li><a href="#">Account</a></li>
                                 <li><a href="/api/order/v1/order">Orders</a></li>
                                 <li><a href="/api/wishlist/v1/wishlist">Wishlist</a></li>
                                 <li><a href="/api/user/v1/user/logout">Logout</a></li>
                              </ul>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </ul>
                  </li>
                 
                  <!-- my profile ends -->

                  <div class="clearfix"> </div>
               </div>
            </div>
            <div class="clearfix"> </div>
         </div>
      </div>
   </div>
   <!-- header-section-ends -->
   <div class="banner-top">
      <div class="container">
         <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <div class="logo">
                  <h1><a href="/"><span>E</span> -Shop</a></h1>
               </div>
            </div>
            <!--/.navbar-header-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
                     <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                           <% @home_men_category.each do |category ,value| %>
                           <div class="col-sm-4">
                              <ul class="multi-column-dropdown">
                                 <a href="/api/search/v1/search/<%= category %>/category_name"><h6 id="category_name"> <%= category %> </h6></a>
                                 <% value.each do |subcategory, val| %>
                                 <li>
                                    <a href="/api/search/v1/search/<%= subcategory.slug %>/category?id=<%= subcategory.id %>"><%= subcategory.name %> </a></li>
                                    <% end %>
                                 </ul>
                              </div>
                              <% end %> 

                              <div class="clearfix"></div>
                           </div>
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">women <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                           <div class="row">
                              <% @home_women_category.each do |category ,value| %>
                              <div class="col-sm-4">
                                 <ul class="multi-column-dropdown">
                                    <a href="/api/search/v1/search/<%= category %>/category_name"><h6 id="category_name"> <%= category %> </h6></a>
                                    <% value.each do |subcategory, val| %>
                                    <li>
                                       <a href="/api/search/v1/search/<%= subcategory.slug %>/category?id=<%= subcategory.id %>"><%= subcategory.name %> </a></li>
                                       <% end %>
                                    </ul>
                                 </div>
                                 <% end %> 

                                 <div class="clearfix"></div>
                              </div>
                           </ul>
                        </li>
                       <!--  <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">kids <b class="caret"></b></a>
                           <ul class="dropdown-menu multi-column columns-2">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                       <h6>NEW IN</h6>
                                       <li><a href="#">New In Boys Clothing</a></li>
                                       <li><a href="#">New In Girls Clothing</a></li>
                                       <li><a href="#">New In Boys Shoes</a></li>
                                       <li><a href="#">New In Girls Shoes</a></li>
                                    </ul>
                                 </div>
                                 <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                       <h6>ACCESSORIES</h6>
                                       <li><a href="#">Bags</a></li>
                                       <li><a href="#">Watches</a></li>
                                       <li><a href="#">Sun Glasses</a></li>
                                       <li><a href="#">Jewellery</a></li>
                                    </ul>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                           </ul>
                        </li> 
                        <li><a href="/">TYPO</a></li> -->
                        <li><a href="/">CONTACT</a></li>
                     </ul>
                  </div>
                  <!--/.navbar-collapse-->
               </nav>
               <!--/.navbar-->
            </div>
         </div>
         <%= yield %>
         <!-- content-section-ends-here -->
         <div class="news-letter">
            <div class="container">
               <div class="join">
                  <h6>JOIN OUR MAILING LIST</h6>
                  <div class="sub-left-right">
                     <form>
                        <input type="text" value="Enter Your Email Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Here';}" />
                        <button type="submit" value="SUBSCRIBE" />SUBSCRIBE</button>
                     </form>
                  </div>
                  <div class="clearfix"> </div>
               </div>
            </div>
         </div>
         <div class="footer">
            <div class="container">
               <div class="footer_top">
                  <div class="span_of_4">
                     <div class="col-md-3 span1_of_4">
                        <h4>Shop</h4>
                        <ul class="f_nav">
                           <li><a href="#">new arrivals</a></li>
                           <li><a href="#">men</a></li>
                           <li><a href="#">women</a></li>
                           <li><a href="#">accessories</a></li>
                           <li><a href="#">kids</a></li>
                           <li><a href="#">brands</a></li>
                           <li><a href="#">trends</a></li>
                           <li><a href="#">sale</a></li>
                           <li><a href="#">style videos</a></li>
                        </ul>
                     </div>
                     <div class="col-md-3 span1_of_4">
                        <h4>help</h4>
                        <ul class="f_nav">
                           <li><a href="#">frequently asked  questions</a></li>
                           <li><a href="#">men</a></li>
                           <li><a href="#">women</a></li>
                           <li><a href="#">accessories</a></li>
                           <li><a href="#">kids</a></li>
                           <li><a href="#">brands</a></li>
                        </ul>
                     </div>
                     <div class="col-md-3 span1_of_4">
                        <h4>account</h4>
                        <ul class="f_nav">
                           <li><a href="#">login</a></li>
                           <li><a href="#">create an account</a></li>
                           <li><a href="#">create wishlist</a></li>
                           <li><a href="#">my shopping bag</a></li>
                           <li><a href="#">brands</a></li>
                           <li><a href="#">create wishlist</a></li>
                        </ul>
                     </div>
                     <div class="col-md-3 span1_of_4">
                        <h4>popular</h4>
                        <ul class="f_nav">
                           <li><a href="#">new arrivals</a></li>
                           <li><a href="#">men</a></li>
                           <li><a href="#">women</a></li>
                           <li><a href="#">accessories</a></li>
                           <li><a href="#">kids</a></li>
                           <li><a href="#">brands</a></li>
                           <li><a href="#">trends</a></li>
                           <li><a href="#">sale</a></li>
                           <li><a href="#">style videos</a></li>
                           <li><a href="#">login</a></li>
                           <li><a href="#">brands</a></li>
                        </ul>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>
               <div class="cards text-center">
                  <img src="<%= asset_path('cards.jpg') %>" alt="" />
               </div>
               <div class="copyright text-center">
                  <p>© 2015 Eshop. All Rights Reserved | Design by   <a href="http://w3layouts.com">  W3layouts</a></p>
                  <button style="display:none" id="user_login_modal_btn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#userlogin_modal">Open Modal</button>
               </div>
            </div>
         </div>
         <!-- user login popup modal -->
          <!-- Modal -->
           <div class="modal fade" id="userlogin_modal" role="dialog">
             <div class="modal-dialog">
             
               <!-- Modal content-->
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">User Login Form</h4>
                 </div>
                 <div class="modal-body login-right">
                    <form id="user_login" name="user_login" method="post">
                        <div>
                           <span>Email Address<label>*</label></span>
                           <input type="text" name="email" id="email"> 
                        </div>
                        <div>
                           <span>Password<label>*</label></span>
                           <input type="password" name="password" id="password"> 
                        </div>
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                     </form>
                 </div>
                 <div class="modal-footer">
                   <button id="close_login_modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
               </div>
               
             </div>
           </div>

      </body>
      </html>